!!!
%html
  %head
    %title Речмайно
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .header.clearfix.padder-h
        %nav
          %ul.nav.nav-pills.float-right
            - if user_signed_in?
              %li.nav-item
                %a.nav-link.active{:href => "#"}
                  Обрахування
                  %span.sr-only (current)
              %li.nav-item
                = link_to('Вийти', destroy_user_session_path, method: :delete, class: 'nav-link')
        %h3.text-muted Речмайно
      = yield

      %footer.footer
        %p © Якубів 2017
